@import 'tailwindcss';

@theme {
  --color-subText: #9f9b8d;
  --color-titleText: #978351;

  --color-gradientTop: #030912;
  --color-gradientBottom: #1a3243;

  --color-icon: #c9bf96;
  --color-iconActive: #eee7d4;

  /* Golds */
  --color-gold1: #F0E6D2;
  --color-gold2: #C8AA6E;
  --color-gold3: #C8AA6E;
  --color-gold4: #C8983C;
  --color-gold5: #785A28;
  --color-gold6: #463714;
  --color-gold7: #32281E;

  /* Blues */
  --color-blue1: #CDFAFA;
  --color-blue2: #0AC8B9;
  --color-blue3: #0397AB;
  --color-blue4: #005A82;
  --color-blue5: #0A323C;
  --color-blue6: #091428;
  --color-blue7: #0A1428;

  /* Greys */
  --color-grey1: #A09B8C;
  --color-grey1-5: #5B5A56;
  --color-grey2: #3C3C41;
  --color-grey3: #1E2328;
  --color-grey-cool: #1E282D;
  --color-hextech-black: #010A13;
}

.svg-inline--fa {
  height: 1.5em;
}